.root {
    -fx-background-color: black;
}

.input-field, .label, .choice-box {
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}


.choice-box, .input-field {
	-fx-background-color: #333333;
	-fx-pref-height: 20px;
	-fx-border-color: #00C958;
	-fx-pref-width: 300px;
}
.choice-box .menu-item {
    -fx-background-color: #333333; /* Set background color for dropdown items */
    -fx-text-fill: #FFFFFF; /* Set text color for dropdown items */
}

.choice-box .menu-item:hover {
    -fx-background-color: #00C958; /* Set background color on hover */
    -fx-text-fill: #000000; /* Set text color on hover */
}

.choice-box:hover {
    -fx-background-color: #444444; /* Set background color on hover */
}

.calculate-button {
    -fx-background-color: #00C958;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.calculate-button:hover {
    -fx-text-fill: #00C958;
    -fx-background-color: white;
}

.result-label {
    -fx-text-fill: #00C958;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-border-color: transparent; /* Remove the border */
}
